@page "{EmpId:int?}/{PayrollJoId:int?}"
@model NddcPayroll.Web.Pages.PdfPages.EmployeePayslipModel
@{
    Layout = "";
}

<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NDDC Payroll</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebTemplateTheme.styles.css" asp-append-version="true" />*@

    <base href="~/" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <!-- jsvectormap css -->
    <link href="~/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!--Swiper slider css-->
    <link href="~/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="~/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>

</head>
<body>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                @*<div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Input Sizing</h4>
                </div><!-- end card header -->*@
                <div class="card-body">
                    <div class="row" style="border:1px solid black;">
                        <div class="col-4">
                            <table style="font-size: 10px;">
                                <tr>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top; font-weight: bold;">Co. Name</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">NIGER DELTA DEVELOPMENT <br /> COMMISSION</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top; font-weight: bold;">Emp Code</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">@Model.MyPayslip.EmployeeCode</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top; font-weight: bold;">Emp Name</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">@Model.MyPayslip.FirstName @Model.MyPayslip.LastName</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; padding-right: 10px; vertical-align: top; font-weight: bold;">Emp Address</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">Eastern Byepass, Marine Base <br /> Port Harcourt <br />084</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-4">
                            <table style="font-size: 10px;">
                                <tr>
                                    <td style="text-align: left; padding-right: 10px; vertical-align: top; font-weight: bold;">Co. Address</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">Eastern Byepass, Marine Base <br /> Port Harcourt <br />084</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; padding-right: 20px; vertical-align: top; font-weight: bold;">Department</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">@Model.MyPayslip.DepartmentName</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; padding-right: 20px; vertical-align: top; font-weight: bold;">Job Title</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">@Model.MyPayslip.JobTitle</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; padding-right: 20px; vertical-align: top; font-weight: bold;">Job Grade</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">@Model.MyPayslip.JobGrade</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-4">
                            <table style="font-size: 10px;">
                                <tr>
                                    <td style="text-align: left; padding-right: 10px; vertical-align: top; font-weight: bold;">Payment Dt</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">@Model.MyPayslip.DateOfPayment</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; padding-right: 20px; vertical-align: top; font-weight: bold;">Dt Engaged</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">@Model.MyPayslip.DateEngaged.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; padding-right: 20px; vertical-align: top; font-weight: bold;">Account No</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">@Model.MyPayslip.AccountNumber</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; padding-right: 20px; vertical-align: top; font-weight: bold;">Branch Code</td>
                                    <td style="text-align: left; margin: 0 0 0 1px; vertical-align: top;">@Model.MyPayslip.BankCode</td>
                                </tr>
                            </table>
                        </div>
                        <!--end col-->
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-6" style="border:1px solid black;">
                            <p style="text-align: center; vertical-align: top; font-size: 14px; font-weight: bold;">EARNINGS</p>
                            <table style="font-size: 10px;">
                                <thead>
                                    <tr>
                                        <td width="300"><b>Description</b></td>
                                        <td width="200"><b>Hrs/Unit</b></td>
                                        <td width="200"><b>Amount</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.MyPayslip.BasicSalary > 0)
                                    {
                                        <tr>
                                            <td>Basic Salary</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.BasicSalary)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.HousingAllow > 0)
                                    {
                                        <tr>
                                            <td>Housing Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.HousingAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.FurnitureAllow > 0)
                                    {
                                        <tr>
                                            <td>Furniture Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.FurnitureAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.TransportAllow > 0)
                                    {
                                        <tr>
                                            <td>Transport Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.TransportAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.MealAllow > 0)
                                    {
                                        <tr>
                                            <td>Meal Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.MealAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.UtilityAllow > 0)
                                    {
                                        <tr>
                                            <td>Utility Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.UtilityAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.SecurityAllow > 0)
                                    {
                                        <tr>
                                            <td>Security Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.SecurityAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.DomesticServantAllow > 0)
                                    {
                                        <tr>
                                            <td>Domestic Servant Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.DomesticServantAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.DriverAllow > 0)
                                    {
                                        <tr>
                                            <td>Driver Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.DriverAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.EducationAllow > 0)
                                    {
                                        <tr>
                                            <td>Education Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.EducationAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.MedicalAllow > 0)
                                    {
                                        <tr>
                                            <td>Medical Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.MedicalAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.VehicleMaintenanceAllow > 0)
                                    {
                                        <tr>
                                            <td>Vehicle Maintenance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.VehicleMaintenanceAllow)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.HazardAllow > 0)
                                    {
                                        <tr>
                                            <td>Hazard Allowance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.HazardAllow)</td>
                                        </tr>
                                    }
                                    
                                    
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left; vertical-align: top; font-size: 14px; font-weight: bold;">Total Earnings</td>
                                        <td></td>
                                        <td style="text-align: left; vertical-align: top; font-size: 14px; font-weight: bold;">@string.Format("{0:N}", Model.MyPayslip.TotalEarnings)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6" style="border:1px solid black;">
                            <p style="text-align: center; vertical-align: top; font-size: 14px; font-weight: bold;">DEDUCTIONS</p>
                            <table style="font-size: 10px;">
                                <thead style="font-weight: bold;">
                                    <tr>
                                        <td width="200">Description</td>
                                        <td width="200">Hrs/Unit</td>
                                        <td width="200">Amount</td>
                                        <td width="200">Opening Balance</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.MyPayslip.Tax > 0)
                                    {
                                        <tr>
                                            <td>Tax</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.Tax)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.NHF > 0)
                                    {
                                        <tr>
                                            <td>Nat. Housing Fund</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.NHF)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.Pension > 0)
                                    {
                                        <tr>
                                            <td>Pension</td>
                                            <td></td>
                                            <td>@Model.MyPayslip.Pension</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.CooperativeDed > 0)
                                    {
                                        <tr>
                                            <td>Cooperative</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.CooperativeDed)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.SSA > 0)
                                    {
                                        <tr>
                                            <td>NDDC AUPTRE SSA</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.SSA)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.JSA > 0)
                                    {
                                        <tr>
                                            <td>NDDC JSA</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.JSA)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.VoluntaryPension > 0)
                                    {
                                        <tr>
                                            <td>Voluntary Pension</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.VoluntaryPension)</td>
                                        </tr>
                                    }
                                    @if (Model.MyPayslip.Insurance > 0)
                                    {
                                        <tr>
                                            <td>Insurance</td>
                                            <td></td>
                                            <td>@string.Format("{0:N}", Model.MyPayslip.Insurance)</td>
                                        </tr>
                                    }
                                    
                                    
                                    
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                        <td style="text-align: left; vertical-align: top; font-size: 14px; font-weight: bold;">Total Deductions</td>
                                        <td></td>
                                        <td style="text-align: left; vertical-align: top; font-size: 14px; font-weight: bold;">@string.Format("{0:N}", Model.MyPayslip.TotalDeductions)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6" style="border:1px solid black;">
                            <p style="text-align: center; vertical-align: top; font-size: 14px; font-weight: bold;">YEAR TO DATE TOTALS</p>
                            <table style="font-size: 10px;">
                                <tr>
                                    <td width="600" style="text-align: left; vertical-align: top; font-size: 14px; font-weight: bold;">Taxable Perks</td>
                                    <td width="300">0.00</td>
                                </tr>
                                <tr>
                                    <td width="600" style="text-align: left; vertical-align: top; font-size: 14px; font-weight: bold;">Tax Paid</td>
                                    <td width="300">@string.Format("{0:N}", Model.MyPayslip.Tax)</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-6" style="border:1px solid black;">
                            <p style="text-align: center; vertical-align: top; font-size: 16px; font-weight: bold;"></p>
                            <table class="table table-borderless">
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>

                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <br />
                            <img src="~/images/dynamicsimage.png" alt="" height="50" width="200">
                        </div>
                        <div class="col-6" style="border:1px solid black;">

                            <table class="table table-borderless">
                                <tr>
                                    <td style="text-align: left; vertical-align: top; font-size: 20px; font-weight: bold;">NETT PAY</td>
                                    <td style="text-align: left; vertical-align: top; font-size: 20px; font-weight: bold;">@string.Format("{0:N}", Model.MyPayslip.NetPay)</td>
                                </tr>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--end col-->
    </div>
</body>
</html>
