@page "{gradeLevelId:int?}"
@model NddcPayroll.Web.Pages.Company.AddGradeLevelModel
@{
    ViewData["Title"] = "Grade Level";
    ViewData["GradeLevel"] = "active";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Add Grade Level</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Company</a></li>
                    <li class="breadcrumb-item active">Add Grade Level</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">New Grade Level</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="GradeLevel.Id" />
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <label asp-for="@Model.GradeLevel.GradeLevel" class="form-label">Grade Level</label>
                        </div>

                        <div class="col-lg-9">
                            <input class="form-control" asp-for="@Model.GradeLevel.GradeLevel" placeholder="Enter Grade Level">
                        </div>
                    </div>


                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <label asp-for="@Model.GradeLevel.Description" class="form-label">Description</label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" placeholder="Enter Description" asp-for="@Model.GradeLevel.Description">
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <label asp-for="@Model.GradeLevel.Description" class="form-label">Basic Salary</label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" placeholder="Enter Basic Salary" asp-for="@Model.GradeLevel.BasicSalary">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <label asp-for="@Model.GradeLevel.Description" class="form-label">Gross</label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" placeholder="Enter Gross Salary" asp-for="@Model.GradeLevel.MonthlyGross">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <label asp-for="@Model.GradeLevel.Rank" class="form-label">Rank</label>
                        </div>
                        <div class="col-lg-9">
                            <select asp-for="@Model.GradeLevel.Rank" class="form-select" data-choices="" data-choices-sorting="true">
                                <option selected="">Choose...</option>
                                <option value="SS">Senior Staff</option>
                                <option value="JS">Junior Staff</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Add Grade Level</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end col-->
</div>