@page
@model NddcPayroll.Web.Pages.Reports.PayrollListingsModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Starter</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Starter</li>
                </ol>
            </div>

        </div>
    </div>
</div>

@if (Model.PayrollList == null)
{
    <h4>Loading Report ..........</h4>
}
else
{
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Payroll Listings Report</h4>


                </div><!-- end card header -->

                <div class="card-body">

                    <div class="live-preview">
                        <div class="table-responsive table-card">
                            <table class="table-sm table-hover align-middle table-bordered mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">S/N</th>
                                        <th scope="col">Emp Code</th>
                                        <th scope="col">Surname</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Grade Level</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Basic Salary</th>
                                        <th scope="col">Transport Allowance</th>
                                        <th scope="col">Housing Allowance</th>
                                        <th scope="col">Furniture Allowance</th>
                                        <th scope="col">Meal Allowance</th>
                                        <th scope="col">Utility Allowance</th>
                                        <th scope="col">Education Allowance</th>
                                        <th scope="col">Security Allowance</th>
                                        <th scope="col">Domestic Servant Allowance</th>
                                        <th scope="col">Medical Allowance</th>
                                        <th scope="col">Driver Allowance</th>
                                        <th scope="col">Vehicle Allowance</th>
                                        <th scope="col">Hazard Allowance</th>

                                        <th scope="col">DD-Tax</th>
                                        <th scope="col">DD-NHF</th>
                                        <th scope="col">DD-Pension</th>
                                        <th scope="col">DD-NDDC AUPTRE JSA</th>
                                        <th scope="col">DD-NDDC AUPTRE SSA</th>
                                        <th scope="col">Total Earningd</th>
                                        <th scope="col">Total Deductions</th>
                                        <th scope="col">Net Pay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PayrollList)
                                    {
                                        <tr>
                                            <td>@item.SrNo</td>
                                            <td>@item.EmployeeCode</td>
                                            <td>@item.LastName</td>
                                            <td>@item.FirstName</td>
                                            <td>@item.GradeLevel</td>
                                            <td>@item.DepartmentName</td>
                                            <td>@item.Category</td>
                                            <td>@string.Format("{0:N}", item.BasicSalary)</td>
                                            <td>@string.Format("{0:N}", item.TransportAllowance)</td>
                                            <td>@string.Format("{0:N}", item.HousingAllowance)</td>
                                            <td>@string.Format("{0:N}", item.FurnitureAllowance)</td>
                                            <td>@string.Format("{0:N}", item.MealAllowance)</td>
                                            <td>@string.Format("{0:N}", item.UtilityAllowance)</td>
                                            <td>@string.Format("{0:N}", item.EducationAllowance)</td>
                                            <td>@string.Format("{0:N}", item.SecurityAllowance)</td>
                                            <td>@string.Format("{0:N}", item.DomesticServantAllowance)</td>
                                            <td>@string.Format("{0:N}", item.MedicalAllowance)</td>
                                            <td>@string.Format("{0:N}", item.DriversAllowance)</td>
                                            <td>@string.Format("{0:N}", item.VehicleMaintenanceAllowance)</td>
                                            <td>@string.Format("{0:N}", item.HazardAllowance)</td>
                                            <td>@string.Format("{0:N}", item.TaxDeduction)</td>

                                            <td>@string.Format("{0:N}", item.NHFDeduction)</td>
                                            <td>@string.Format("{0:N}", item.PensionDeduction)</td>
                                            <td>@string.Format("{0:N}", item.JSADeduction)</td>
                                            <td>@string.Format("{0:N}", item.SSADeduction)</td>
                                            <td>@string.Format("{0:N}", item.TotalEarnings)</td>
                                            <td>@string.Format("{0:N}", item.TotalDeductions)</td>
                                            <td>@string.Format("{0:N}", item.NetPay)</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div><!-- end card-body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div>
}
