@page
@model NddcPayroll.Web.Pages.Reports.PayrollSummaryByDeptModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Payroll Summary By Department Report</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Starter</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row g-2">
            <div class="col-sm-4">
                <div class="search-box">
                    @*<input type="text" class="form-control" id="searchMemberList" placeholder="Search for name or designation...">
                    <i class="ri-search-line search-icon"></i>*@
                    <h4 class="fs-18 lh-base mb-0">Payroll Summary By Department</h4>
                </div>
            </div>
            <!--end col-->
            <form method="post">
            <div class="col-sm-auto ms-auto">
                <div class="list-grid-nav hstack gap-1">
                    <button class="btn btn-success addMembers-modal" type="submit"><i class="ri-profile-line me-1 align-bottom"></i>Export</button>
                    

                </div>
            </div>
            </form>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</div>
    
<div id="print">
    
        @foreach (var item in Model.PayrollSumList)
        {
            <table class="table table-bordered table-success">
                <tr>
                    <td><b>Department: @item.DepartmentName</b> </td>
                </tr>
            </table>
            <!-- Bordered Tables -->
            <table class="table table-bordered table-nowrap">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Earning</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Deduction</th>
                        <th scope="col">Amount</th>
                        <th scope="col">CC Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Basic Salary</th>
                        <td>@string.Format("{0:N}", item.BasicSalary)</td>
                        <td class="fw-bold">Tax</td>
                        <td>@string.Format("{0:N}", @item.Tax)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Transport Allowance</th>
                        <td>@string.Format("{0:N}", @item.TransportAllow)</td>
                        <td class="fw-bold">Nat. Housing Fund</td>
                        <td>@string.Format("{0:N}", @item.NHF)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Meal Allowance</th>
                        <td>@string.Format("{0:N}", @item.MealAllow)</td>
                        <td class="fw-bold">Pension</td>
                        <td>@string.Format("{0:N}", @item.Pension)</td>
                        <td>@string.Format("{0:N}", @item.CooporativeDed)</td>

                    </tr>
                    <tr>
                        <th scope="row">Utility Allowance</th>
                        <td>@string.Format("{0:N}", @item.UtilityAllow)</td>
                        <td class="fw-bold">NDDC AUPTRE JSA</td>
                        <td>@string.Format("{0:N}", @item.JSA)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Education Allowance</th>
                        <td>@string.Format("{0:N}", @item.EducationAllow)</td>
                        <td class="fw-bold">Cooporative</td>
                        <td>@string.Format("{0:N}", @item.CooporativeDed)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Security Allowance</th>
                        <td>@string.Format("{0:N}", @item.SecurityAllow)</td>
                        <td class="fw-bold">NDDC AUPTRE SSA</td>
                        <td>@string.Format("{0:N}", @item.SSA)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Domestic Servant</th>
                        <td>@string.Format("{0:N}", @item.DomesticServantAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">Medical Allowance</th>
                        <td>@string.Format("{0:N}", @item.MedicalAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">Driver's Allowance</th>
                        <td>@string.Format("{0:N}", @item.DriverAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">Vehicle Maintenance</th>
                        <td>@string.Format("{0:N}", @item.VehicleAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">Hazard Allowance</th>
                        <td>@string.Format("{0:N}", @item.HazardAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Shift Allowance</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Secretarial Allowance</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Totals</th>
                        <td class="fw-bold">@string.Format("{0:N}", item.TotalEarnings)</td>
                        <td></td>
                        <td class="fw-bold">@string.Format("{0:N}", item.TotalDeductions)</td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Net Pay</th>
                        <td class="fw-bold">@string.Format("{0:N}", item.NetPay)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Salary Cost</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Employee Count</th>
                        <td class="fw-bold">@item.EmployeeCount</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>
        }



        @foreach (var item in Model.PayrollTotals)
        {
            <table class="table table-bordered table-success">
                <tr>
                    <td><b>Department: @item.DepartmentName</b> </td>
                </tr>
            </table>
            <!-- Bordered Tables -->
            <table class="table table-bordered table-nowrap">
                <thead class="table-success">
                    <tr>
                        <th scope="col">Earning</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Deduction</th>
                        <th scope="col">Amount</th>
                        <th scope="col">CC Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Basic Salary</th>
                        <td>@string.Format("{0:N}", item.BasicSalary)</td>
                        <td class="fw-bold">Tax</td>
                        <td>@string.Format("{0:N}", @item.Tax)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Transport Allowance</th>
                        <td>@string.Format("{0:N}", @item.TransportAllow)</td>
                        <td class="fw-bold">Nat. Housing Fund</td>
                        <td>@string.Format("{0:N}", @item.NHF)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Meal Allowance</th>
                        <td>@string.Format("{0:N}", @item.MealAllow)</td>
                        <td class="fw-bold">Pension</td>
                        <td>@string.Format("{0:N}", @item.Pension)</td>
                        <td>@string.Format("{0:N}", @item.CooporativeDed)</td>

                    </tr>
                    <tr>
                        <th scope="row">Utility Allowance</th>
                        <td>@string.Format("{0:N}", @item.UtilityAllow)</td>
                        <td class="fw-bold">NDDC AUPTRE JSA</td>
                        <td>@string.Format("{0:N}", @item.JSA)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Education Allowance</th>
                        <td>@string.Format("{0:N}", @item.EducationAllow)</td>
                        <td class="fw-bold">Cooporative</td>
                        <td>@string.Format("{0:N}", @item.CooporativeDed)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Security Allowance</th>
                        <td>@string.Format("{0:N}", @item.SecurityAllow)</td>
                        <td class="fw-bold">NDDC AUPTRE SSA</td>
                        <td>@string.Format("{0:N}", @item.SSA)</td>
                        <td>-</td>

                    </tr>
                    <tr>
                        <th scope="row">Domestic Servant</th>
                        <td>@string.Format("{0:N}", @item.DomesticServantAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">Medical Allowance</th>
                        <td>@string.Format("{0:N}", @item.MedicalAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">Driver's Allowance</th>
                        <td>@string.Format("{0:N}", @item.DriverAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">Vehicle Maintenance</th>
                        <td>@string.Format("{0:N}", @item.VehicleAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">Hazard Allowance</th>
                        <td>@string.Format("{0:N}", @item.HazardAllow)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Shift Allowance</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Secretarial Allowance</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Totals</th>
                        <td class="fw-bold">@string.Format("{0:N}", item.TotalEarnings)</td>
                        <td></td>
                        <td class="fw-bold">@string.Format("{0:N}", item.TotalDeductions)</td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Net Pay</th>
                        <td class="fw-bold">@string.Format("{0:N}", item.NetPay)</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Salary Cost</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row" class="fw-bold">Employee Count</th>
                        <td class="fw-bold">@item.EmployeeCount</td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>
        }
   
   
</div>       
            

        
   

@*<component type="typeof(NddcPayroll.Web.MyComponents.PayrollSummaryByDept)" render-mode="ServerPrerendered" />*@