@page "/listingreport"

@using NddcPayrollLibrary.Data.Reports;
@using NddcPayrollLibrary.Model.Report;
@inject IReportsData db;

<div class="row">
    <div class="col-xl-6">
        <div class="card overflow-hidden">
            <div class="card-body bg-marketplace d-flex">
                <div class="flex-grow-1">
                    <h4 class="fs-18 lh-base mb-0">Payroll Listings Report <br></h4>
                    <p class="mb-0 mt-2 pt-1 text-muted">View Report of Benefits and Deductions for Entire Workforce</p>
                    <div class="d-flex gap-3 mt-4">
                        <a @onclick="GenerateReport" class="btn btn-primary">Generate Report </a>
                    </div>
                    
                </div>
                <img src="assets/images/bg-d.png" alt="" class="img-fluid">
            </div>
        </div>
    </div><!--end col-->
    
</div>

@if (PayrollList == null)
{
   @* <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading Report Please Wait...</span>
    </div>*@
    <h4>@Message</h4>
}
else
{
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Payroll Listings Report</h4>


                </div><!-- end card header -->

                <div class="card-body">

                    <div class="live-preview">
                        <div class="table-responsive table-card">
                            <table class="table-sm table-hover align-middle table-bordered mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">S/N</th>
                                        <th scope="col">Emp Code</th>
                                        <th scope="col">Surname</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Grade Level</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Basic Salary</th>
                                        <th scope="col">Transport Allowance</th>
                                        <th scope="col">Housing Allowance</th>
                                        <th scope="col">Furniture Allowance</th>
                                        <th scope="col">Meal Allowance</th>
                                        <th scope="col">Utility Allowance</th>
                                        <th scope="col">Education Allowance</th>
                                        <th scope="col">Security Allowance</th>
                                        <th scope="col">Domestic Servant Allowance</th>
                                        <th scope="col">Medical Allowance</th>
                                        <th scope="col">Driver Allowance</th>
                                        <th scope="col">Vehicle Allowance</th>
                                        <th scope="col">Hazard Allowance</th>

                                        <th scope="col">DD-Tax</th>
                                        <th scope="col">DD-NHF</th>
                                        <th scope="col">DD-Pension</th>
                                        <th scope="col">DD-NDDC AUPTRE JSA</th>
                                        <th scope="col">DD-NDDC AUPTRE SSA</th>
                                        <th scope="col">Total Earningd</th>
                                        <th scope="col">Total Deductions</th>
                                        <th scope="col">Net Pay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in PayrollList)
                                    {
                                        <tr>
                                            <td>@item.SrNo</td>
                                            <td>@item.EmployeeCode</td>
                                            <td>@item.LastName</td>
                                            <td>@item.FirstName</td>
                                            <td>@item.GradeLevel</td>
                                            <td>@item.DepartmentName</td>
                                            <td>@item.Category</td>
                                            <td>@string.Format("{0:N}", item.BasicSalary)</td>
                                            <td>@string.Format("{0:N}", item.TransportAllowance)</td>
                                            <td>@string.Format("{0:N}", item.HousingAllowance)</td>
                                            <td>@string.Format("{0:N}", item.FurnitureAllowance)</td>
                                            <td>@string.Format("{0:N}", item.MealAllowance)</td>
                                            <td>@string.Format("{0:N}", item.UtilityAllowance)</td>
                                            <td>@string.Format("{0:N}", item.EducationAllowance)</td>
                                            <td>@string.Format("{0:N}", item.SecurityAllowance)</td>
                                            <td>@string.Format("{0:N}", item.DomesticServantAllowance)</td>
                                            <td>@string.Format("{0:N}", item.MedicalAllowance)</td>
                                            <td>@string.Format("{0:N}", item.DriversAllowance)</td>
                                            <td>@string.Format("{0:N}", item.VehicleMaintenanceAllowance)</td>
                                            <td>@string.Format("{0:N}", item.HazardAllowance)</td>
                                            <td>@string.Format("{0:N}", item.TaxDeduction)</td>

                                            <td>@string.Format("{0:N}", item.NHFDeduction)</td>
                                            <td>@string.Format("{0:N}", item.PensionDeduction)</td>
                                            <td>@string.Format("{0:N}", item.JSADeduction)</td>
                                            <td>@string.Format("{0:N}", item.SSADeduction)</td>
                                            <td>@string.Format("{0:N}", item.TotalEarnings)</td>
                                            <td>@string.Format("{0:N}", item.TotalDeductions)</td>
                                            <td>@string.Format("{0:N}", item.NetPay)</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div><!-- end card-body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div>
}


@code {
    public string Message { get; set; }
    public List<MyPayRollListModel> PayrollList { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    //PayrollList = db.GetPayrollListReport();
    //    //Message = "";
    //    //Message = "Loading Report Please Wait ........";
    //    PayrollList = await Task.Run(() => db.GetPayrollListReport());

    //}

    private async Task GenerateReport()
    {
        Message = "Loading Report Please Wait ........";
        PayrollList = await Task.Run(() => db.GetPayrollListReport());
        //Message = "";
    }
}
