@page "{benefitId:int?}"
@model NddcPayroll.Web.Pages.Payroll.EditBenefitModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Edit Benefit</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Edit Benefit</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">New Benefit</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="Benefit.Id" />
                    <input type="hidden" asp-for="Benefit.GradeLevelID" />
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <label for="nameInput" class="form-label">Benefit Type</label>
                        </div>
                        <div class="col-lg-9">
                            <div class="col-md-6">
                                @*<div class="mb-3"><select class="form-select" asp-for="@Model.MyBenefit.Benefit" asp-items="@Model.BenefitsTypes">
                                <option selected="">Choose...</option>
                                </select>
                                </div>*@
                                <div class="mb-3">
                                    <select class="form-select" asp-for="@Model.Benefit.BenefitTypeId" asp-items="@(new SelectList(Model.BenefitTypes, "Id", "BenefitType"))">
                                        <option selected="">Choose...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <label for="nameInput" class="form-label">Cycle</label>
                        </div>
                        <div class="col-lg-9">
                            <div class="col-md-6">
                                @*<div class="mb-3"><select class="form-select" asp-for="@Model.MyBenefit.Benefit" asp-items="@Model.BenefitsTypes">
                                <option selected="">Choose...</option>
                                </select>
                                </div>*@
                                <div class="mb-3">
                                    <select class="form-select" asp-for="@Model.Benefit.Cycle">
                                        <option selected="">Choose...</option>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Yearly">Yearly</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <label for="nameInput" class="form-label">Rate(%)</label>
                        </div>
                        <div class="col-lg-3">
                            @*<input class="form-control" placeholder="Enter Rate" asp-for="@Model.MyBenefit.Percentage">*@
                            <input asp-for="@Model.Benefit.Percentage" class="form-control rounded-end flag-input" placeholder="Enter Rate" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a type="submit" asp-page="DeleteBenefit" class="btn btn-danger" asp-route-benefitId="@Model.Benefit.Id">Delete</a>
                        
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <!--end col-->
</div>