@page
@model NddcPayroll.Web.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    ViewData["dashboard"] = "active";
    ViewData["HeaderDate"] = Model.HeaderDate;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Dashboard</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Application</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>

        </div>

        
    </div>
</div>
<div class="row h-100">
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                            <i class="ri-money-dollar-circle-fill align-middle"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="text-uppercase fw-semibold fs-12 text-muted mb-1">
                            Current Employee Count
                        </p>
                        <h4 class=" mb-0"><span class="counter-value" data-target="@Model.EmpCount">@Model.EmpCount</span></h4>
                    </div>
                    <div class="flex-shrink-0 align-self-end">
                        <span class="badge badge-soft-success">
                            <i class="ri-arrow-up-s-fill align-middle me-1"></i>6.24
                            %<span>
                            </span>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                            <i class="ri-arrow-up-circle-fill align-middle"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="text-uppercase fw-semibold fs-12 text-muted mb-1">
                            Current Total Earnings
                        </p>
                        <h4 class=" mb-0">=N=<span class="counter-value" data-target=@Model.TotalEarnings>@Model.TotalEarnings</span></h4>
                    </div>
                    <div class="flex-shrink-0 align-self-end">
                        <span class="badge badge-soft-success">
                            <i class="ri-arrow-up-s-fill align-middle me-1"></i>3.67
                            %<span>
                            </span>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title bg-light text-primary rounded-circle fs-3">
                            <i class="ri-arrow-down-circle-fill align-middle"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <p class="text-uppercase fw-semibold fs-12 text-muted mb-1">
                            Current Net Pay
                        </p>
                        <h4 class=" mb-0">=N=<span class="counter-value" data-target=@Model.NetPay>@Model.NetPay</span></h4>
                    </div>
                    <div class="flex-shrink-0 align-self-end">
                        <span class="badge badge-soft-danger">
                            <i class="ri-arrow-down-s-fill align-middle me-1"></i>4.80
                            %<span>
                            </span>
                        </span>
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Line Chart</h4>
            </div>
            <div class="card-body">
                <canvas id="lineChart" class="chartjs-chart" data-colors="[&quot;--vz-primary-rgb, 0.2&quot;, &quot;--vz-primary&quot;, &quot;--vz-info-rgb, 0.2&quot;, &quot;--vz-info&quot;]" width="455" height="227" style="display: block; box-sizing: border-box; height: 227px; width: 455px;"></canvas>
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Bar Chart</h4>
            </div>
            <div class="card-body">
                <canvas id="bar" class="chartjs-chart" data-colors="[&quot;--vz-primary&quot;]" width="455" height="227" style="display: block; box-sizing: border-box; height: 227px; width: 455px;"></canvas>

            </div>
        </div>
    </div> <!-- end col -->
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Recently Created Employees</h4>

                
            </div><!-- end card header -->

            <div class="card-body">
               
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col" style="width: 150px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Employees)
                                {
                                    <tr>
                                        <td>@item.SrNo</td>
                                        <td><a href="#" class="fw-medium">@item.EmployeeCode</a></td>
                                        <td>@item.FullName</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-light">Details</button>
                                        </td>
                                    </tr>
                                }
                               
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>

@section Scripts {
    <script src="~/libs/chart.js/chart.min.js"></script>
    <script src="~/js/pages/chartjs.init.js"></script>
}