@page "{EmpId:int?}"
@model NddcPayroll.Web.Pages.Employee.AnalysisDetailsModel
@{
    ViewData["Title"] = "Analysis Details";
    ViewData["Employees"] = "active";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Starter</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Starter</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">

        <div class="step-arrow-nav mb-4">

            <ul class="nav nav-pills custom-nav nav-justified" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="steparrow-gen-info-tab" data-bs-toggle="pill" data-bs-target="#steparrow-gen-info" type="button" role="tab" aria-controls="steparrow-gen-info" aria-selected="false" data-position="0">Personal Details</button>
                </li>
                @* <li class="nav-item" role="presentation">
                <button class="nav-link" id="steparrow-description-info-tab" data-bs-toggle="pill" data-bs-target="#steparrow-description-info" type="button" role="tab" aria-controls="steparrow-description-info" aria-selected="true" data-position="1" tabindex="-1">Address Details</button>
                </li>*@
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false" data-position="2" tabindex="-1">Statutory Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false" data-position="2" tabindex="-1">Payment Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false" data-position="2" tabindex="-1">Analysis Details</button>
                </li>

            </ul>
        </div>
    </div>
</div>

<form method="post">
<div class="row">
<div class="col-lg-10">
<div class="card">
    <div class="card-header align-items-center d-flex">
        <h4 class="card-title mb-0 flex-grow-1">Analysis Codes</h4>
    </div><!-- end card header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="firstNameinput" class="form-label">Job Grade Level</label>
                    <select class="form-select" asp-for="@Model.AnalysisDetail.GradeLevelId" asp-items="@(new SelectList(Model.MyGradeLevels, "Id", "GradeLevel"))">
                        <option selected="">Choose...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="firstNameinput" class="form-label">Job Title</label>
                    <select class="form-select" asp-for="@Model.AnalysisDetail.JobTitleId" asp-items="@(new SelectList(Model.JobTitles, "Id", "Description"))">
                        <option selected="">Choose...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="firstNameinput" class="form-label">Category</label>
                    <select id="ForminputState" asp-for="@Model.AnalysisDetail.Category" class="form-select" data-choices="" data-choices-sorting="true">
                        <option selected="">Choose...</option>
                        <option value="CONT">Contract Staff</option>
                        <option value="PERM">Permanent Staff</option>
                        <option value="POLI">Political</option>
                        <option value="SABB">Sabbatical OFFR</option>
                        <option value="TEMP">Temprorary Staff</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="firstNameinput" class="form-label">Department</label>
                    <select class="form-select" asp-for="@Model.AnalysisDetail.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "DepartmentName"))">
                        <option selected="">Choose...</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="firstNameinput" class="form-label">Pay Point</label>
                    <select class="form-select" asp-for="@Model.AnalysisDetail.PayPointId" asp-items="@(new SelectList(Model.PayPoints, "Id", "PayPoint"))">
                        <option selected="">Choose...</option>
                    </select>
                </div>
            </div>
                   
    </div>
</div>

</div>
<div class="d-flex align-items-start gap-3 mt-4 mb-4">
<a href="Employee/PaymentDetails" class="btn btn-light btn-label previestab" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back to Payment Details</a>
    <button type="submit" class="btn btn-success btn-label right ms-auto nexttab nexttab">
        <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>
        Save and Continue
    </button>
</div>
<!--end col-->
</div>
</div>
</form>