@page "{EmpId:int?}"
@model NddcPayroll.Web.Pages.Employee.EmployeeDetailsModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Employee Details</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Employee</a></li>
                    <li class="breadcrumb-item active">Employee Details</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">

                   

                    <div class="row">
                        <div class="col-xxl-3">
                            <div class="card mt-2">
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                            <img src="images/users/user-dummy-img.jpg" class="rounded-circle avatar-xl img-thumbnail user-profile-image" alt="user-profile-image">
                                            <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                                <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                                                <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                                    <span class="avatar-title rounded-circle bg-light text-body">
                                                        <i class="ri-camera-fill"></i>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <h5 class="fs-16 mb-1">@Model.Employee.FirstName @Model.Employee.LastName</h5>
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                </div>
                            </div>
                            <!--end card-->
                           
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    @*<h4 class="card-title mb-0 flex-grow-1">Salary Details</h4>*@
                                    <div class="d-flex align-items-center">
                                        <div class="avatar-sm flex-shrink-0">
                                            <span class="avatar-title bg-soft-primary rounded fs-3">
                                                <i class="bx bx-wallet text-primary"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1 ps-3">
                                            <h5 class="text-muted text-uppercase fs-16 mb-0">Salary Details</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                   @* <div class="d-flex align-items-center mb-4">
                                        <div class="flex-grow-1">
                                            <h5 class="card-title mb-0">Earnings Analysis</h5>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-4"></div>
                                    <hr />
                                    <div class="col-md-12 mt-4"></div>*@
                    <div class="table-responsive">
                        <table class="table caption-top">
                            <caption>Earnings</caption>
                            <tbody>
                                <tr>
                                    <th class="ps-0" scope="row">Basic Salary :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.BasicSalary)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Housing Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.HousingAllowance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Furniture Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.FurnitureAllowance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Transport Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.TransportAllowance)</td>
                                </tr>
                                 <tr>
                                    <th class="ps-0" scope="row">Meal Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.MealAllowance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Utility Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.UtilityAllowance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Education Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.EducationAllowance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Security Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.SecurityAllowance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Domestic Servant Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.DomesticServantAllowance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Medical Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.MedicalAllowance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Driver Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.DriverAllowance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Vehicle Maintenance Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.VehicleMaintenance)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Hazard Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.Hazard)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Entertainment Allowance :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.EntertainmentAllowance)</td>
                                </tr>
                               
                                <tr>
                                    <th class="ps-0" scope="row">Total Benefits :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.MySalaryBenefits)</td>
                                </tr>
                            </tbody>
                            <tfoot class="table-light">
                                <tr>
                                    <th class="text-warning">Total Earnings</th>
                                    <td class="text-warning">@string.Format("{0:N}", Model.MonthlyGross)</td>
                                </tr>
                            </tfoot>
                        </table>

                       @* <div class="d-flex align-items-center mb-4">
                            <div class="flex-grow-1">
                                <h5 class="card-title mb-0 card-title-primary">Deduction Analysis</h5>
                            </div>
                        </div>
                        <div class="col-md-12 mt-1"></div>
                        <hr />
                        <div class="col-md-12 mt-1"></div>*@
                        <table class="table caption-top">
                            <caption>Deductions </caption>
                            <tbody>
                                <tr>
                                    <th class="ps-0" scope="row">Tax :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.PayeTax)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Pension :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.Pension)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">NHF :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.NHF)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">AUPTRE JSA :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.JSA)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">AUPTRE SSA :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.SSA)</td>
                                </tr>
                                <tr>
                                    <th class="ps-0" scope="row">Insurance Premium :</th>
                                    <td class="text-muted">@string.Format("{0:N}", Model.InsurancePremium)</td>
                                </tr>
                            </tbody>
                            <tfoot class="table-light">
                                <tr>
                                    <th class="text-warning">Total Deductions</th>
                                    <td class="text-warning">@string.Format("{0:N}", Model.TotalDeductions)</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                                </div>
                            <div class="card-footer">
                                <a href="javascript:void(0);" class="float-end">@string.Format("{0:N}", Model.NetPay) <i class="ri-arrow-right-s-line align-middle ms-1 lh-1"></i></a>
                                <p class="text-bold fs-20 mb-0">Net Pay</p>
                            </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                        <div class="col-xxl-9">
                            <div class="card mt-xxl-2">
                                <div class="card-header">
                                    <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab" aria-selected="true">
                                                <i class="fas fa-home"></i>
                                                Personal Details
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab" aria-selected="false" tabindex="-1">
                                                <i class="far fa-user"></i>
                                                Statutory Details
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-bs-toggle="tab" href="#experience" role="tab" aria-selected="false" tabindex="-1">
                                                <i class="far fa-envelope"></i>
                                                Payment Details
                                            </a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-bs-toggle="tab" href="#privacy" role="tab" aria-selected="false" tabindex="-1">
                                                <i class="far fa-envelope"></i>
                                                Analysis Details
                                            </a>
                                        </li>
                                         <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-bs-toggle="tab" href="#links" role="tab" aria-selected="false" tabindex="-1">
                                                <i class="far fa-envelope"></i>
                                                Employee Links
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body p-4">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="personalDetails" role="tabpanel">
                                            <form action="javascript:void(0);">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.EmployeeCode" class="form-label">Employee Code</label>
                                            <input asp-for="@Model.Employee.EmployeeCode" class="form-control" placeholder="Enter Code">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.Gender" class="form-label">Gender</label>
                                            <select asp-for="@Model.Employee.Gender" class="form-select" data-choices="" data-choices-sorting="true">
                                                <option selected="">Choose...</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.MaritalStatus" class="form-label">Marital Status</label>
                                            <select asp-for="@Model.Employee.MaritalStatus" class="form-select" data-choices="" data-choices-sorting="true">
                                                <option selected="">Choose...</option>
                                                <option>Married</option>
                                                <option>Single</option>
                                                <option>Divorced</option>
                                                <option>Widower</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.FirstName" class="form-label">First Name</label>
                                            <input asp-for="@Model.Employee.FirstName" class="form-control" placeholder="Enter First Name" id="firstNameinput">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.LastName" class="form-label">Last Name</label>
                                            <input asp-for="@Model.Employee.LastName" class="form-control" placeholder="Enter your lastname" id="lastNameinput">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.OtherNames" class="form-label">Other Names</label>
                                            <input asp-for="@Model.Employee.OtherNames" class="form-control" placeholder="Enter other name" id="compnayNameinput">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.MaidenName" class="form-label">Maiden Name</label>
                                            <input asp-for="@Model.Employee.MaidenName" class="form-control" placeholder="Enter Maiden name" id="compnayNameinput">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.SpouseName" class="form-label">Spouse Name</label>
                                            <input asp-for="@Model.Employee.SpouseName" class="form-control" placeholder="Enter Spouse Name" id="compnayNameinput">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.Email" class="form-label">Email Address</label>
                                            <input asp-for="@Model.Employee.Email" class="form-control" placeholder="example@gamil.com" id="emailidInput">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.Phone" class="form-label">Phone Number</label>
                                            <input asp-for="@Model.Employee.Phone" class="form-control" placeholder="+(245) 451 45123" id="phonenumberInput">
                                        </div>
                                    </div>
                                    <!--end col-->

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.DateOfBirth" class="form-label">Date of Birth</label>
                                            <!-- Input Date -->
                                            <div>
                                                <input type="date" asp-for="@Model.Employee.DateOfBirth" class="form-control" id="exampleInputdate">
                                            </div>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.Address" class="form-label">Address</label>
                                            <input asp-for="@Model.Employee.Address" class="form-control" placeholder="Address 1" id="address1ControlTextarea">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.City" class="form-label">City</label>
                                            <input asp-for="@Model.Employee.City" class="form-control" placeholder="Enter your city" id="citynameInput">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.SID" class="form-label">State</label>
                                            <select class="form-select" asp-for="@Model.Employee.SID" asp-items="@(new SelectList(Model.States, "Id", "FullDescription"))">
                                                <option selected="">Choose...</option>
                                            </select>
                                        </div>
                                    </div>
                                    @*<div class="col-md-12">
                                        <div class="mb-3">
                                            <div>
                                                <label asp-for="@Model.Employee.Passport" class="form-label">Passport Photograph</label>
                                                <input asp-for="@Model.Employee.Passport" class="form-control" type="file" id="formFile">
                                            </div>
                                        </div>
                                    </div>*@
                                    <!--end col-->
                                    @*<div class="col-lg-12">
                                    <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    </div>*@
                                    <!--end col-->
                                </div>
                                <br />
                                <h4 class="card-title mb-0 flex-grow-1">Emergency Contact Details</h4>
                                <div class="col-md-12 mt-4"></div>
                                <hr />
                                <div class="col-md-12 mt-4"></div>
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.ContactName" class="form-label">Name and Surname</label>
                                            <input asp-for="@Model.Employee.ContactName" class="form-control" placeholder="Enter Full Name" id="firstNameinput">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.ContactPhone" class="form-label">Phone Number</label>
                                            <input asp-for="@Model.Employee.ContactPhone" class="form-control" placeholder="Enter Personal Cell Number" id="lastNameinput">
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <!--end col-->
                                    <!--end col-->
                                    @*<div class="col-lg-12">
                                    <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    </div>*@
                                    <!--end col-->
                                </div>
                                <br />
                                <h4 class="card-title mb-0 flex-grow-1">Service Details</h4>
                                <div class="col-md-12 mt-4"></div>
                                <hr />
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.EmploymentStatus" class="form-label">Employment Status</label>
                                            <select id="ForminputState" asp-for="@Model.Employee.EmploymentStatus" class="form-select" data-choices="" data-choices-sorting="true">
                                                <option selected="">Choose...</option>
                                                <option value="New">New</option>
                                                <option value="Old">Old</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end col-->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label asp-for="@Model.Employee.DateEngaged" class="form-label">Date Engaged</label>
                                            <div>
                                                <input type="date" asp-for="@Model.Employee.DateEngaged" class="form-control" id="exampleInputdate">
                                            </div>
                                        </div>
                                    </div>

                                    <!--end col-->
                                    @*<div class="col-lg-12">
                                    <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    </div>*@
                                    <!--end col-->
                                </div>
                                <div class="col-md-12 mt-4"></div>
                                <hr />
                                
                                                <!--end row-->
                                            </form>
                                            <form asp-page-handler="UpdateEmployerDetails" method="post">
                                <button class="btn btn-success" type="submit">Update Employee Details</button>
                                            </form>
                                        </div>
                                        <!--end tab-pane-->
                                        <div class="tab-pane" id="changePassword" role="tabpanel">
                                            <form action="javascript:void(0);">
                                                <div class="row">

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="firstNameinput" class="form-label">State Province</label>
                                            <select asp-for="@Model.StatutoryDetails.TaxStateProvince" class="form-select" asp-items="@(new SelectList(Model.PayPoints, "Code", "PayPoint"))">
                                        <option selected="">Choose...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="firstNameinput" class="form-label">Tax Status</label>
                                    <select asp-for="@Model.StatutoryDetails.TaxStatus" id="ForminputState" class="form-select" data-choices="" data-choices-sorting="true">
                                        <option selected="">Choose...</option>
                                        <option>Tax Tables</option>
                                        <option>No Tax</option>
                                        
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="firstNameinput" class="form-label">Tax Office</label>
                                    <input type="text" class="form-control" placeholder="Enter First Name" asp-for="@Model.StatutoryDetails.TaxOffice">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="lastNameinput" class="form-label">Tax Number</label>
                                    <input type="text" class="form-control" placeholder="Enter your lastname" asp-for="@Model.StatutoryDetails.TaxNumber">
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="compnayNameinput" class="form-label">Tax Start Date</label>
                                    <input type="date" class="form-control" asp-for="@Model.StatutoryDetails.TaxStartDate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="@Model.Age" class="form-label">Age (Tax Year)</label>
                                    <input asp-for="@Model.Age" readonly class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 mt-4"></div>
                            <hr />
                            <div class="col-md-12 mt-4"></div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="compnayNameinput" class="form-label">National Housing Fund (NHF) Number</label>
                                    <input type="text" class="form-control" placeholder="Enter NHF Number" asp-for="@Model.StatutoryDetails.NHFNumber">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">

                                    <div class="form-check form-switch form-switch-md" dir="ltr">
                                        <input type="checkbox" class="form-check-input" asp-for="@Model.StatutoryDetails.NHFStatus">
                                        <label class="form-check-label" for="customSwitchsizemd">National Housing Fund (NHF) Status</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="compnayNameinput" class="form-label">National Health Insurance Fund (NHIS) </label>
                                    <input type="text" class="form-control" placeholder="Enter NHF Number" asp-for="@Model.StatutoryDetails.NHIS">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">

                                    <div class="form-check form-switch form-switch-md" dir="ltr">
                                        <input type="checkbox" class="form-check-input" asp-for="@Model.StatutoryDetails.NHISStatus">
                                        <label class="form-check-label" for="customSwitchsizemd">National Health Insurance Status (NHIS)</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="compnayNameinput" class="form-label">Medical AId Health Insurance Name </label>
                                    <select asp-for="@Model.StatutoryDetails.MedicalAidName" class="form-select" data-choices="" data-choices-sorting="true">
                                        <option selected="">Choose...</option>
                                        
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">

                                    <div class="form-check form-switch form-switch-md" dir="ltr">
                                        <div class="mb-3">
                                            <label for="compnayNameinput" class="form-label">Medical Aid Number</label>
                                            <input type="text" class="form-control" placeholder="" asp-for="@Model.StatutoryDetails.MedicalAidNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="compnayNameinput" class="form-label">Pension Fund Code </label>
                                    <select class="form-select" asp-for="@Model.StatutoryDetails.PensionFundId" asp-items="@(new SelectList(Model.PensionAdmins, "Id", "FullDescription"))">
                                        <option selected="">Choose...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">

                                    <div class="form-check form-switch form-switch-md" dir="ltr">
                                        <div class="mb-3">
                                            <label for="compnayNameinput" class="form-label">Pension Fund Number</label>
                                            <input type="text" class="form-control" placeholder="" asp-for="@Model.StatutoryDetails.PensionFundNumber">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4"></div>
                            <hr />
                            <div class="col-md-12 mt-4"></div>
                            <div class="col-md-12">
                                <div class="mb-3">

                                    <div class="form-check form-switch form-switch-md" dir="ltr">
                                        <input type="checkbox" class="form-check-input" asp-for="@Model.StatutoryDetails.NSITFSTatus">
                                        <label class="form-check-label" for="customSwitchsizemd">Employee Compensation Scheme (NSITF) Status</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">

                                    <div class="form-check form-switch form-switch-md" dir="ltr">
                                        <input type="checkbox" class="form-check-input" asp-for="@Model.StatutoryDetails.ITFStatus">
                                        <label class="form-check-label" for="customSwitchsizemd">Industrial Training Fund (ITF) Status</label>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                            @*<div class="col-lg-12">
                            <div class="text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            </div>*@
                            <!--end col-->
                        </div>
                        <!--end row-->
                        <div class="d-flex align-items-start gap-3 mt-4 mb-4">
                            <a href="AddEmployee" class="btn btn-light btn-label previestab" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back to Personal Details</a>
                            
                            <button type="submit" class="btn btn-success btn-label right ms-auto nexttab nexttab">
                                <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>
                                Save and Continue
                            </button>
                        </div>


                                                <!--end row-->
                                            </form>
                                            
                                        </div>
                                        <!--end tab-pane-->
                                        <div class="tab-pane" id="experience" role="tabpanel">
                                            <form>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="mb-3">
                                            <label>Payment Method</label>
                                            <select class="form-select" asp-for="@Model.PaymentDetails.PaymentMethod" >
                                                <option selected-disabled="true">Select Payment Method ...</option>
                                                <option value="Cheque">Cheque</option>
                                                <option value="Cash">Cash</option>
                                                <option value="ACB">ACB</option>
                                                <option value="Pay Wallet">Pay Wallet</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="mb-3">
                                            <label>Bank Code</label>
                                           <select class="form-select" asp-for="@Model.PaymentDetails.BankCode" asp-items="@(new SelectList(Model.Banks, "Code", "BankName"))">
                                                <option selected="">Choose...</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="mb-3">
                                            <label>Account Number</label>
                                            <input type="text" class="form-control" asp-for="@Model.PaymentDetails.AccountNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="mb-3">
                                            <label>Account Name</label>
                                            <input type="text" class="form-control" asp-for="@Model.PaymentDetails.AccountName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-4"></div>
                                <hr />
                                <div class="col-md-12 mt-4"></div>
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <label for="compnayNameinput" class="form-label">Add Pay Info 1</label>
                                        <input type="text" class="form-control" asp-for="@Model.PaymentDetails.PayInfo1">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <label for="compnayNameinput" class="form-label">Add Pay Info 2</label>
                                        <input type="text" class="form-control" asp-for="@Model.PaymentDetails.PayInfo2">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <label for="compnayNameinput" class="form-label">Sort Code</label>
                                        <input type="text" class="form-control" asp-for="@Model.PaymentDetails.SortCode">
                                    </div>
                                </div>
                                <button class="btn btn-success" type="submit">Save and Continue</button>
                                <div class="d-flex align-items-start gap-3 mt-4 mb-4">
                                    @*<a href="Employee/StatutoryDetails" class="btn btn-light btn-label previestab" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back to Statutory Details</a>*@
                                    @*<a href="AnalysisDetails" class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-experience-tab"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Save and Continue</a>*@
                                    @*<button class="btn btn-success btn-label right ms-auto nexttab nexttab" data-nexttab="pills-experience-tab" type="submit"><i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Save and Continue</button>*@

                                </div>
                                                <!--end col-->
                                            </form>
                                        </div>
                                        <!--end tab-pane-->
                                        <div class="tab-pane" id="privacy" role="tabpanel">
                                            <form>
                                <form method="post">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="card">
                                                <div class="card-header align-items-center d-flex">
                                                    <h4 class="card-title mb-0 flex-grow-1">Analysis Codes</h4>
                                                </div><!-- end card header -->
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="mb-3">
                                                                <label for="firstNameinput" class="form-label">Job Grade Level</label>
                                                                <select class="form-select" asp-for="@Model.AnalysisDetails.GradeLevelId" asp-items="@(new SelectList(Model.GradeLevels, "Id", "GradeLevel"))">
                                                                    <option selected="">Choose...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="mb-3">
                                                                <label for="firstNameinput" class="form-label">Job Title</label>
                                                                <select class="form-select" asp-for="@Model.AnalysisDetails.JobTitleId" asp-items="@(new SelectList(Model.JobTitles, "Id", "Description"))">
                                                                    <option selected="">Choose...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="mb-3">
                                                                <label for="firstNameinput" class="form-label">Category</label>
                                                                <select id="ForminputState" asp-for="@Model.AnalysisDetails.Category" class="form-select" data-choices="" data-choices-sorting="true">
                                                                    <option selected="">Choose...</option>
                                                                    <option value="MD">MD/CEO</option>
                                                                    <option value="EDFA">EDFA</option>
                                                                    <option value="EDP">EDP</option>
                                                                    <option value="CONT">Contract Staff</option>
                                                                    <option value="PERM">Permanent Staff</option>
                                                                    <option value="POLI">Political</option>
                                                                    <option value="SABB">Sabbatical OFFR</option>
                                                                    <option value="TEMP">Temprorary Staff</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="mb-3">
                                                                <label for="firstNameinput" class="form-label">Department</label>
                                                                <select class="form-select" asp-for="@Model.AnalysisDetails.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "DepartmentName"))">
                                                                    <option selected="">Choose...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="mb-3">
                                                                <label for="firstNameinput" class="form-label">Pay Point</label>
                                                                <select class="form-select" asp-for="@Model.AnalysisDetails.PayPoint" asp-items="@(new SelectList(Model.PayPoints, "Code", "PayPoint"))">
                                                                    <option selected="">Choose...</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="d-flex align-items-start gap-3 mt-4 mb-4">
                                                <a href="Employee/PaymentDetails" class="btn btn-light btn-label previestab" data-previous="steparrow-gen-info-tab"><i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i> Back to Payment Details</a>
                                                <button type="submit" class="btn btn-success btn-label right ms-auto nexttab nexttab">
                                                    <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>
                                                    Save and Continue
                                                </button>
                                            </div>
                                            <!--end col-->
                                        </div>
                                    </div>
                                </form>
                                                <!--end col-->
                                            </form>
                                        </div>
                        <div class="tab-pane" id="links" role="tabpanel">
                             
                           <component type="typeof(NddcPayroll.Web.MyComponents.EmployeeLinksComp)" param-MyEmpId="@Model.MyEmpId" render-mode="ServerPrerendered" />
                            
                       </div>
                                        <!--end tab-pane-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->

                </div>